{% comment %} For Pixel Union Techical Test {% endcomment %}
{% unless product.title contains 'Ultrafine' %}
  {% assign imgCover = "w-full h-full object-cover" %}
{% endunless %}

<div class="mb-6 w-full">
  <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="group relative">
      <a href="{{ product.url }}">
        {% if product.featured_image %}
          <div class="h-80 overflow-hidden flex justify-center align-center">
            <img
              class="{{ imgCover }} self-center group-hover:opacity-50 group-hover:scale-105 transition duration-300 ease-in-out transform"
              src="{{ product.featured_image | img_url:'medium' }}"
              alt="{{ product.featured_image.alt }}">
          </div>
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100 group-hover:opacity-50' }}
        {% endif %}
      </a>
      <div class="group-hover:flex hidden add-to-cart__container absolute z-10 top-0 justify-center items-center w-full h-full">
        <form
          action="/cart/add"
          method="post"
          enctype="multipart/form-data"
          id="AddToCartForm">

          <select
            name="id"
            id="productSelect"
            hidden>
            {% for variant in product.variants %}
              {% if variant.available %}
                <option value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <label for="Quantity" hidden>quantity</label>
          <input
            type="number"
            id="Quantity"
            name="quantity"
            value="1"
            min="1"
            hidden>
          <button
            type="submit"
            name="add"
            class="add-to-cart__btn bg-green-400 p-3 rounded text-white hover:bg-green-600"
            id="{{ product.title }}"
            data-product="{{ product.price | money }}">Add to cart</button>
        </form>
      </div>
    </div>

    <div class="flex flex-col px-4 py-8 text-center">
      <span class="text-sm text-gray-400">{{ product.vendor }}</span>
      <a
        href="{{ product.url }}"
        class="text-gray-700 uppercase font-medium"
        data-product="{{ product }}">{{ product.title }}</a>
      <p class="text-gray-500">{{ product.price | money }}</p>
      {% render 'icon-stars' %}
    </div>

  </div>
</div>