<article>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <h1>{{ article.title }}</h1>
      {% when 'article_author' %}
        {% if section.settings.enable_author %}
          <small>{{ article.author }}</small>
        {% endif %}
      {% when 'article_published_date' %}
        {% if section.settings.enable_published_date %}
          <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>
        {% endif %}
      {% when 'featured_image' %}
        <img src="{{ article.image | img_url: 'large' }}" alt="{{ article.image.alt }}">
      {% when 'article_content' %}
        <div>
          {{article.content}}
        </div>
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
    <div id="comment_form" class="mb-8 bg-slate-600">
      {% form "new_comment", article %}
        {% if form.errors %}
          <div class="errors">
            {% for field in form.errors %}
              {% for message in field %}
                <p>{{ message }}</p>
              {% endfor %}
            {% endfor %}
          </div>
        {% endif %}
        <div>
          <label for="comment_author">Name</label>
          <input type="text" name="comment[author]" id="comment_author">
        </div>
        <div>
          <label for="comment_content">Comment</label>
          <textarea name="comment[content]" id="comment_content"></textarea>
        </div>
        <div>
          <input class="bg-slate-500 text-white p-4" type="submit" value="Submit">
        </div>
      {% endform %}
    {% if article.comments_count > 0 %}
      <h2>{{ article.comments_count }} Comments</h2>
      {% paginate article.comments by 5 %}
        {% for comment in article.comments %}
          <div>
            <h3>{{ comment.author }}</h3>
            <p>{{ comment.content }}</p>
          </div>
        {% endfor %}
      {% endpaginate %}
    {% else %}
      <h2>No Comments</h2>
    {% endif %}
    </div>
{% endif %}

{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Display author name"
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "default": true,
      "label": "Display published date"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Article Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Article Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Article Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Article Content",
      "limit": 1
    }
  ]
}
{% endschema %}