<h1>{{ article.title }}</h1>
<small>{{ article.author }}</small>
<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>

<img src="{{ article.image | img_url: 'large' }}" alt="{{ article.image.alt }}">

<div>
  {{article.content}}
</div>


{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Article Title"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author",
      "default": "Author Name"
    }
    ]
}
{% endschema %}